body {
  padding-top: 5rem;
  /*background:  url('http://vignette4.wikia.nocookie.net/steamtradingcards/images/8/8c/Marvel_Heroes_Background_Marko_Group_Shot.jpg/revision/latest/scale-to-width-down/1280?cb=20130930014950') no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;*/

}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;

}

label {
  float: left;
  margin-top: 10px;
}

.form-control {
  margin-left: auto;
}

.navbar-brand {
  padding: 0px;
  width: auto;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}

.prograss {
  color: black;
}